<form class="form-horizontal" #taskForm="ngForm" (ngSubmit)="onClickSubmit(taskForm.value)">
  <div class="form-group">
    <label class="control-label col-sm-2" for="taskProject">Project:</label>
    <div class="col-sm-8">
      <input type="text" disabled [(ngModel)]="searchProjectText" class="form-control" id="taskProject"
             placeholder="Search Project" name="taskProject" required>
    </div>
    <div class="col-sm-1 pull-right search-manager">
      <button type="button" [disabled]="editing" class="btn btn-default search-bn" data-toggle="modal"
              data-target="#myModal"
              (click)="searchProjects()">Search
      </button>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="task">Task:</label>
    <div class="col-sm-10">
      <input type="text" required [(ngModel)]="taskInput.task" class="form-control" id="task"
             placeholder="Enter task Name" name="task" required>
    </div>
  </div>
  <div class="form-group parent-check-row zero-padding">
    <div class="checkbox col-sm-4 zero-padding">
      <label class="control-label col-sm-2" for="thisIsParent"></label>
      <label><input type="checkbox" [disabled]="editing" [(ngModel)]="taskInput.thisIsParent"
                    (change)="dateCheckChange()"
                    name="thisIsParent" id="thisIsParent">Parent Task</label>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="priority">Priority:</label>
    <div class="col-sm-10">
      <div>
        <div>
          <span class="pull-left">{{sliderMin}}</span>
          <span class="pull-right">{{sliderMax}}</span>
        </div>
        <mat-slider [(ngModel)]="taskInput.priority" disabled="{{taskInput.thisIsParent}}" #slider id="priority"
                    min="{{sliderMin}}" max="{{sliderMax}}"
                    step="1"
                    (change)="onSliderChange(slider.value)" name="priority"></mat-slider>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="taskParentTask">Parent Task:</label>
    <div class="col-sm-8">
      <input type="text" disabled [(ngModel)]="searchParentTaskText" class="form-control" id="taskParentTask"
             placeholder="Search Parent Task" name="taskParentTask" required>
    </div>
    <div class="col-sm-1 pull-right search-manager">
      <button type="button" [disabled]="taskInput.thisIsParent" class="btn btn-default search-bn" data-toggle="modal"
              data-target="#parentTaskModal"
              (click)="searchParentTasks()">Search
      </button>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="startDate">Start Date:</label>
    <div class="col-sm-4">
      <input type="date" disabled="{{taskInput.thisIsParent}}" required [(ngModel)]="taskInput.startDate"
             class="form-control" id="startDate"
             placeholder="Enter Start Date" name="startDate" required>
    </div>
    <label class="control-label col-sm-2" for="endDate">End Date:</label>
    <div class="col-sm-4">
      <input type="date" disabled="{{taskInput.thisIsParent}}" required [(ngModel)]="taskInput.endDate"
             class="form-control" id="endDate"
             placeholder="Enter End Date" name="endDate" required>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="taskUser">User:</label>
    <div class="col-sm-8">
      <input type="text" disabled [(ngModel)]="searchUserText" class="form-control" id="taskUser"
             placeholder="Search User" name="taskUser" required>
    </div>
    <div class="col-sm-1 pull-right search-manager">
      <button type="button" [disabled]="taskInput.thisIsParent" class="btn btn-default search-bn" data-toggle="modal"
              data-target="#userModal"
              (click)="searchUsers()">Search
      </button>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="pull-left">
        <span class="alert-success">{{infoMessage}}</span>
        <span class="alert-danger">
        <ul *ngFor="let error of errorMessages">
          <li>{{error}}</li>
        </ul>
        </span>
      </div>
      <div class="pull-right">
        <button *ngIf="!editing" type="submit" class="btn btn-default">Add Task</button>
        <button *ngIf="editing" type="submit" class="btn btn-default">Update</button>
        <button type="reset" class="btn btn-default" (click)="onReset()">Reset</button>
      </div>
    </div>
  </div>

</form>
<hr/>


<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <div class="form-group">
          <label class="control-label col-sm-4" style="margin-top: 7px;" for="filterProject">Select Project:</label>
          <div class="col-sm-6">
            <input type="text" required [(ngModel)]="filterProjectText" class="form-control" id="filterProject"
                   placeholder="Filter" name="filterProject">
          </div>
        </div>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead>
          <tr>
            <th>Projects</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let projectRow of projects | filter : filterProjectText">
            <td><span (click)="projectSelected(projectRow)" data-dismiss="modal"><a>{{projectRow.project}}</a></span>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="parentTaskModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <div class="form-group">
          <label class="control-label col-sm-4" style="margin-top: 7px;" for="filterProject">Select Parent Task:</label>
          <div class="col-sm-6">
            <input type="text" required [(ngModel)]="filterParentTaskText" class="form-control" id="filterParentTask"
                   placeholder="Filter" name="filterParentTask">
          </div>
        </div>
      </div>
      <div class="modal-body">
        <span *ngIf="taskInput.parentTaskName"><a (click)="removeCurrentParentTask()">Click here</a> to remove selected: {{taskInput.parentTaskName}}</span>

        <table class="table">
          <thead>
          <tr>
            <th>Tasks</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let taskRow of tasks | filter : filterParentTaskText">
            <td><span (click)="parentTaskSelected(taskRow)" data-dismiss="modal"><a>{{taskRow.task}}</a></span>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="userModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <div class="form-group">
          <label class="control-label col-sm-4" style="margin-top: 7px;" for="filterUser">Select User:</label>
          <div class="col-sm-6">
            <input type="text" required [(ngModel)]="filterUserText" class="form-control" id="filterUser"
                   placeholder="Filter" name="filterUser">
          </div>
        </div>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead>
          <tr>
            <th>Users</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let userRow of users | filter : filterUserText">
            <td><span (click)="userSelected(userRow)"
                      data-dismiss="modal"><a>{{userRow.firstName}} {{userRow.lastName}}</a></span>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
