<div>
  <h1>
    Project Manager
  </h1>
</div>
<body class="container">
<div class="nav-div">
    <span class="fsd-nav-link">
      <a routerLink="/addproject" routerLinkActive="active-link">Add Project</a>
    </span>
  <span class="fsd-nav-link">
    <a routerLink="/addtask" routerLinkActive="active-link">Add Task</a>
    </span>
  <span class="fsd-nav-link">
        <a routerLink="/adduser" routerLinkActive="active-link">Add User</a>
    </span>
  <span class="fsd-nav-link">
    <a routerLink="/viewtask" routerLinkActive="active-link">View Task</a>
    </span>

</div>

<router-outlet></router-outlet>
